/**********************************************************************/
/*                          GLOBAL                                    */
/**********************************************************************/

.right{
  float: right;
}

.left{
  float: left;
}


/**********************************************************************/
/*                          Login Page                                */
/**********************************************************************/

.jumbotron{
  background-color: #ffffff;
  height: 161px;
}

.jumbotron h1{
  text-align: center;
}

.login-page form{
  padding: 10px 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}


